<%= form_for @firm, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :cnpj, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cnpj, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :razao_social, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :razao_social, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nome_fantasia, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nome_fantasia, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :frente_trabalho, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :frente_trabalho, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cnae, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cnae, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :atividade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :atividade, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :risco, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :risco, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :endereco, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :endereco, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bairro, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bairro, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cidade, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cidade, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :uf, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :uf, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cep, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cep, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefone, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                firms_path, :class => 'btn' %>
  </div>
<% end %>
