<%- model_class = Function -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:codigo) %></th>
      <th><%= model_class.human_attribute_name(:funcao) %></th>
      <th><%= model_class.human_attribute_name(:empresa) %></th>
    </tr>
  </thead>
  <tbody>
    <% @functions.each do |function| %>
      <tr>
        <td><%= function.id %></td>
        <td><%= link_to function.funcao, function_path(function) %></td>
        <td><%= function.firm.nome_fantasia %></tr>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_function_path,
            :class => 'btn btn-primary' %>
