<%= simple_nested_form_for (@aso), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :data %>
  <%= f.input :appointment_id %>
  	<%= f.simple_fields_for :occupational_risks, :html => { :multipart => true } do |r| %>
      <div class = "alert alert-box-info" >
  			<div class = "row">
          <div class = "span1 offset1">
            <%= r.link_to_remove "", :class => 'btn btn-danger icon-minus-sign icon-white' %>
          </div>
  				<div class = "span4">
            <%= r.input :risk_category_id, collection: RiskCategory.all(:order => 'nome'), label_method: 'nome', :label => 'Selecione a Categoria' %>
  	  		</div>
          <div class = "span5 offiset1">
            <%= r.input :risk_id, collection: Risk.all(:order => 'risk_category_id'), label_method: 'nome_risco', :label => 'Selecione o Risco' %>

          </div>
  			</div>
  		</div>
  	<% end %>
  <%= f.link_to_add " Incluir Risco", :occupational_risks, :class => 'btn btn-inverse' %>
  <br />
  <br />
  <hr />
  <%= f.input :grau_exposicao, collection: (["Ausente", "Insignificante", "Baixo", "Moderado", "Alto"]), as: :radio %>
  <%= f.input :obs, :label => 'Observações', :as => :ckeditor, 
                              :input_html => { :ckeditor => {:toolbar => 'mini'} } %>

  <%= f.input :periodicidade, collection: (["SEMESTRAL", "ANUAL", "BIENAL"]), as: :radio %>
  <hr />
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                appointment_path(@aso.appointment.id), :class => 'btn' %>
  </div>

<% end %>
