<%- model_class = Section -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="btn-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              firm_path(@section.firm.id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_section_path(@section), :class => 'btn btn-warning' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              section_path(@section),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:secao) %>:</strong></dt>
  <dd><%= @section.secao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Empresa) %>:</strong></dt>
  <dd><%= @section.firm.nome_fantasia %></dd>
</dl>
