<%- model_class = OccupationalRisk -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="btn-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
                risk_category_path, :class => 'btn btn-inverse' %>

  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_occupational_risk_path(@occupational_risk), :class => 'btn btn-warning' %>

  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              occupational_risk_path(@occupational_risk),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Categoria) %>:</strong></dt>
  <dd><%= @occupational_risk.risk_category.nome %></dd>

  <dt><strong><%= model_class.human_attribute_name(:nome_risco) %>:</strong></dt>
  <dd><%= @occupational_risk.nome_risco %></dd>
</dl>
