<div id="conteudo">
  <div class = "row">
    <div class = "span12">
        <h4 class=" pull-right">Nº 00<%= @recibo.id %></h4>
    </div>
  </div>

  <div class = "row">
    <div class = "centro span12">
      <h2><u>Recibo</u></h2>
    </div>
  </div>

  <div class = "row">
    <div class = "centro span12">
      <h3 class=" pull-right"><%= valor_monetario(@recibo.valor) %></h3>
    </div>
  </div>
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <% if @recibo.pj? %> 

      <%= render 'p_juridica' %>

    <% else %>
    
      <%= render 'p_fisica' %>

    <% end %>   
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <strong>Penedo/AL, </strong> <%=l @recibo.data %>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class "row">
      <div class ="span4">
        <p class = "ass">   Carimbo/Assinatura do médico   </p>
      </div>
    </div>
    <br />
    <br />
   
    <div class="btn-group">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                  patient_path(@recibo.patient.id), :class => 'btn btn-mini'  %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_patient_recibo_path(@recibo), :class => 'btn btn-warning btn-mini' %>
    </div>
</div>