<%- model_class = RiskCategory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="btn-group">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              risk_categories_path, :class => 'btn'  %>

  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_risk_category_path(@risk_category), :class => 'btn btn-warning' %>

  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              risk_category_path(@risk_category),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div> 

<dl class="dl-horizontal">
  <dt><h3><%= model_class.human_attribute_name(:nome) %>:</h3></dt>
  <dd><h3><%= @risk_category.nome %></h3></dd>
</dl> <hr />

<%= render :partial => 'oc_risk' %>

<!-- modal OccupationalRisk =================================================================== -->

</div>
